<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/compiled/styles.css','webpack') }}" media="all"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon-32.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="container ">
        <div class="navbar">
            <div class="navbar__logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}" height="38" width="98" alt="minisky"/></a>
                <p class="navbar__moto">
                    Test yourself and travel! ;)
                </p>
            </div>
            <ul class="menu navbar__menu_top">
                <li class="menu__item menu__item_active">
                    <a href="{{ path('homepage') }}">Test me</a>
                </li>
                <li class="menu__item">
                    <a href="{{ path('about') }}">About</a>
                </li>
                <li class="menu__item">
                    <a href="{{ path('about') }}">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
